<div class="main" style="background-color: whitesmoke;">
    <nav>
        <p class="head">Album</p>
    </nav>

    <div class="section1">
        <div class="title">Album Example</div>
        <div class="text">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</div>
        
        <div class="butt">
            <button class="b-blue">
                Main call to action
            </button>
            <button class="b-gray">
                Secondary action
            </button>
        </div>
    </div>

    <div class="section2">
        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>


        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>


        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>


        <div class="card">
            <div class="img">
                Thumbnail
            </div>
            <div class="cont">
                <div class="text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                </div>
                <div class="footer">
                    <div class="cardbut">
                        <button>View</button>
                        <button>Edit</button>
                    </div>
                    <div class="time">
                        9 mins
                    </div>

                </div>
            </div>
        </div>

        


        
    </div>

    <div class="footer">
        <p>hello</p>
    </div>
        
        
</div>



